.loginClass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        background: linear-gradient(0deg, rgba(0, 13, 60, 1) 100%, rgba(136, 203, 171, 1) 0%);
            font-family: 'Kumbh Sans', sans-serif;
}

   .myTransition {
       animation: transitionIn 1s;
   }

   @keyframes transitionIn {
       from {
           opacity: 0;
           transform: translateY(-60px);
       }

       to {
           opacity: 1;
           transform: translateY(0);
       }
   }
   @keyframes transitionLeft {
       from {
           opacity: 0;
           transform: translateX(-300px);
       }

       to {
           opacity: 1;
           transform: translateX(0);
       }
   }
   .myTransitionLeft {
       animation: transitionLeft 1s;
   }
.loginContiner {
    width: 400px;
        padding: 30px;
        margin-bottom: 35px;
        position: absolute;
        top: 24%;
        left: 40%;
        background-color: #333;
        text-align: center;
        border-radius: 1rem;
        color: rgb(255, 255, 255);
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.loginForm label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.loginForm input[type='email'],
.loginForm input[type='password'] {
    border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid rgb(175, 10, 10);
        padding: 20px;
        width: 200px;
        outline: none;
        color: rgb(255, 255, 255);
        border-radius: 2rem;
}
.loginForm input[type='email']:focus,
.loginForm input[type='password']:focus{
    width: 280px;
        border-color: rgb(235, 59, 15);
}
.loginForm label svg {
    width: 20px;
    height: 17px;
    margin-right: 7px;
}

.btn {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.btn-success {
    border: 0;
        background: none;
        display: block;
        width: 150px;
        margin: 10px auto;
        text-align: center;
        padding: 20px 10px;
        outline: none;
        color: rgb(255, 255, 255);
        font-size: 20px;
        border-radius: 2rem;
        transition: 0.5s;
        cursor: pointer;
        float: right;
        font-family: 'Kumbh Sans', sans-serif;
}

.btn-success:hover {
        color: rgb(255, 255, 255);
            background-color: #fe4f18;
            box-shadow: 0 0 10px #fe4f18, 0 0 40px #fe4f18, 0 0 80px #fe4f18;
}

.btn-default {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.btn-default:hover {
    background-color: #007bff;
    color: #fff;
}

.checkboxForm {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.checkboxForm input[type='checkbox'] {
    margin-right: 10px;
}